<!DOCTYPE HTML>
<html>
	<%- include('inc/head') -%> 
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

	
		<%- include('inc/header-menu');  -%> 
	
		<%- include('inc/header') -%> 
	
	
	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-6 animate-box">
					<h3>Entre em Contato</h3>
					<% if(typeof error === "string"){ %> 
						<div class="alert alert-danger">
							<%= error %> 
						</div>
						
					<% } %> 
					<% if(typeof sucesso === "string"){ %> 
						<div class="alert alert-success">
							<%= sucesso %> 
						</div>
						
					<% } %> 
					<form action="/contact" method="POST">
						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="name">Nome</label>
								<input type="text" id="name" name="name" class="form-control" placeholder="Seu nome" value="<%= body.name %> ">
							</div>
							
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="email">E-mail</label>
								<input type="text" id="email" name="email" class="form-control" placeholder="Seu endereço de e-mail" value="<%= body.email %> ">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="message">Mensagem</label>
								<textarea name="message" id="message" name="message" class="form-control" placeholder="Escreve alguma coisa"><%= body.message %> </textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Enviar" class="btn btn-primary">
						</div>

					</form>		
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					
					<div class="gtco-contact-info">
						<h3>Informações de Contato</h3>
						<ul>
							<li class="address">Avenida, R. José Versolato, 101 - 12ª andar - Centro, São Bernardo do Campo - SP, 09750-730</li>
							<li class="phone"><a href="tel://1121497360">(11) 2149-7360</a></li>
						
						
						</ul>
					</div>


				</div>
				</div>
			</div>
		</div>
	</div>

	<%- include('inc/footer') -%> 
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>

	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>

	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	
	<script src="js/moment.min.js"></script>
	<script src="js/bootstrap-datetimepicker.min.js"></script>


	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

